<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dev Blog{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-stone-900 text-white">
        {% block body %}
            <div id="navigation">
                <ul>
                    <li><a href="{{ path('post_index') }}">Startseite</a></li>
                    <li><a href="{{ path('post_create') }}">Neuer Eintrag</a></li>
                </ul>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
